# Variables of 'pp_cluster' group
---
# Bootstrap
# ansible_user: root
# ansible_ssh_pass: 'ChangeThisRightNow' # Change it!

# Common
ansible_python_interpreter: /usr/bin/python3

deploy_user: locksmith
deploy_group: wheel
# deploy_password: 'ChangeThisSecretWord' # Change it! Do not use '-'!

ansible_user: '{{ deploy_user }}'
ansible_ssh_private_key_file: '{{ inventory_dir }}/keys/ansible_ecdsa'
# ansible_ssh_pass: '{{ deploy_password }}'
# ansible_become_pass: '{{ deploy_password }}'

# Fill it with your values, please!
cluster:
  pp1: 10.1.1.1
  pp2: 10.1.1.2
  pp3: 10.1.1.3

timezone: 'Europe/Moscow'
docker_pull: true

# Etcd
etcd_cluster_name: pp-etcd-cluster

# PostgreSQL
postgres_version: '12'

postgres_package_profiles:
  - '@postgresql:{{ postgres_version }}/server'
  - '@postgresql:{{ postgres_version }}/client'

postgres_port: '5432'
postgres_encoding: UTF8  # for bootstrap only (initdb)
postgres_locale: en_US.UTF-8  # for bootstrap only (initdb)
postgres_data_checksums: true  # for bootstrap only (initdb)

postgres_home: /opt/PG
postgres_data_dir: '{{ postgres_home }}/{{ postgres_version }}/data'
postgres_conf_dir: '{{ postgres_data_dir }}'
postgres_bin_dir: /usr/bin
postgres_unix_socket_dir: /var/run/postgresql

# Patroni
pves_home: /opt/pves
postgres_cluster_name: pp-pgcluster

patroni_pgpass: '{{ postgres_home }}/patroni_pgpass'
patroni_superuser_username: postgres
patroni_superuser_password: 'postgres_passwd'  # Change it!
patroni_replication_username: replicator
patroni_replication_password: 'replicator_passwd'  # Change it!
patroni_rewind_user: rewinder
patroni_rewind_password: 'rewinder_passwd'  # Change it!

patroni_ttl: 30
patroni_loop_wait: 10
patroni_retry_timeout: 10
patroni_maximum_lag_on_failover: 1048576
patroni_master_start_timeout: 300
patroni_postgres_use_pg_rewind: true

etcd_hosts_ports: '[{% for host, ip in cluster.items() %}"{{ ip }}:2379"{% if not loop.last %},{% endif %}{% endfor %}]'

# PgBouncer
pgbouncer_listen_port: 6432

# HAProxy
haproxy_frontend_pg_port: 7432

# Elasticsearch
elk_version: 7.9.1
elasticsearch_in_cluster: true
cluster_name: pp-elk-cluster

initial_master_nodes: '[{% for host, ip in cluster.items() %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]'
elasticsearch_hosts: '[{% for host, ip in cluster.items() %}"http://{{ ip }}"{% if not loop.last %},{% endif %}{% endfor %}]'

# Webfront
priceplan_http_hostname: pp.biz

# PricePlan
pp_postgres_db: priceplan
pp_postgres_user: priceplan
pp_postgres_password: 'priZe4plan' # Change it!
