pipeline:
  workers: 2
  batch:
    size: 150
    delay: 100

http:
  host: 0.0.0.0

monitoring:
  elasticsearch:
    hosts: [
      {% for host, ip in cluster.items() %}
      'http://{{ ip }}:{{ elasticsearch_port }}'{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
