input {
  udp {
    port => {{ logstash_udp_port }}
    codec => msgpack
  }
  gelf {
    id => "gelf"
    port_udp => {{ logstash_gelf_udp_port }}
    type => gelf
  }
}

filter {
  if [type] == "python-logstash" {
    mutate {
      remove_field => "type"
    }
  }

  if [type] == "gelf" {
    mutate {
      remove_field => "level"
    }
  }
}

output {
  elasticsearch {
    {% if logstash_network_mode == "host" %}
    hosts => {{ elasticsearch_hosts | from_yaml }}
    {% else %}
    hosts => [
      {% for host, ip in cluster.items() %}
      'http://{{ ip }}:{{ elasticsearch_port }}'{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
    {# user => "{{ logstash_elastic_user }}" #}
    {# password => "{{ logstash_elastic_password }}" #}
  }
}
