# Inventory example
[master]
host1.tl.dr

[replica]
host2.tl.dr
host3.tl.dr

[pp_cluster:children]
master
replica

[etcd_cluster:children]
pp_cluster

[postgres_cluster:children]
pp_cluster


[nginx]


[redis]


[rabbitmq]


[elasticsearch]


[kibana]


[logstash]


[webfront]
