# Inventory example
[master]
pp1 ansible_host=100.200.50.1

[replica]
pp2 ansible_host=100.200.50.2
pp3 ansible_host=100.200.50.3

[pp_cluster:children]
master
replica

[etcd_cluster:children]
pp_cluster

[postgres_cluster:children]
pp_cluster


[nginx]


[redis_cluster:children]
pp_cluster


[rabbitmq]


[elasticsearch]


[kibana]


[logstash]


[webfront]
