# Inventory example
[load_balancer]
lb1 ansible_host=100.200.25.1
lb2 ansible_host=100.200.25.2

[master]
pp1 ansible_host=100.200.50.1

[replica]
pp2 ansible_host=100.200.50.2
pp3 ansible_host=100.200.50.3

[pp_cluster:children]
master
replica

[etcd_cluster:children]
pp_cluster

[postgres_cluster:children]
pp_cluster

[redis_cluster:children]
pp_cluster

[rabbitmq_cluster:children]
pp_cluster

[elasticsearch_cluster:children]
pp_cluster

[logstash:children]
pp_cluster

[nginx:children]
pp_cluster

[kibana:children]
pp_cluster

[webfront:children]
pp_cluster

[pp_cron]
pp1

[uwsgi:children]
pp_cluster

[common:children]
pp_cluster

[mail:children]
pp_cluster

[http:children]
pp_cluster

[billing:children]
pp_cluster

[ordinal:children]
pp_cluster

[search:children]
pp_cluster

[flower]
pp2
