bind {{ redis_sentinel_bind }}
port {{ redis_sentinel_port }}

sentinel announce-ip {{ cluster[ansible_hostname] }}

dir /data

# sentinel auth-pass {{ redis_sentinel_user }} {{ redis_sentinel_password }}

sentinel monitor {{ redis_master }} {{ redis_master_ip }} {{ redis_port }} 2
sentinel down-after-milliseconds {{ redis_master }} {{ redis_sentinel_master_down_timeout }}
sentinel failover-timeout {{ redis_master }} {{ redis_sentinel_failover_timeout }}
sentinel parallel-syncs {{ redis_master }} 1
protected-mode no
